<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>GE Header</Title>
			<Shortcut>geheader</Shortcut>
			<Description>Inserts GE comment header</Description>
			<Author>Your Name</Author>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>filename</ID>
					<ToolTip>File Name</ToolTip>
					<Default>MyFile.cpp</Default>
				</Literal>
				<Literal>
					<ID>date</ID>
					<ToolTip>Date</ToolTip>
					<Default>$date$</Default>
				</Literal>
			</Declarations>
			<Code Language="cpp">
				<![CDATA[
/********************************************************
*	  ____   _____
*	 / ___| | ____|
*	| |  _  |  _|
*	| |_| | | |___
*	 \____| |_____|
* _______________________________________________________
* 
* FILE TITLE:
* 
* FILE AUTOHOR:
* 
* FILE PURPOSE:
*
*********************************************************/
]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>

