<?xml version="1.0" encoding="utf-8"?>
<Literal>
	<ID>SAFEITEMNAME</ID>
	<ToolTip>File name in uppercase</ToolTip>
	<Default>MyClass</Default>
	<Function>ToUpper($safeitemname$)</Function>
</Literal>

